
    </Body>
            
    <footer class="footer" id="footer">
      <div class="container">
        <span>
            <p> Trademark YelpCamp 2018. All Rights Reserved.</p>
            <p> Built By Nasir Sharaf with the 
                <a href="https://www.udemy.com/the-web-developer-bootcamp/">Colt Steele Web Developer Bootcamp Udemy Course</a>
            </p>
        </span>
      </div>
    </footer>
    
</html>